.ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.li {
  list-style: none;
  border-radius: 10px;
  width: 350px;
  height: 70px;
  overflow: hidden;
  border: 1px solid #ccc;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  box-sizing: border-box;
  gap: 5px;
  padding: 10px;
}

.errorMessage {
  color: red;
  min-height: 20px;
}
